html {
  scroll-behavior: smooth !important;
}

/*----------------------------------
Custom: removes white edge on right side of screen
-----------------------------------*/
html,
body {
  overflow-x: hidden;
}

#footer img {
  vertical-align: middle;
  border-style: none;
  height: 120px;
  margin-bottom: 30px;
}

#contacttop .top {
  padding-right: 1px;
  padding-left: 1px;
}



/*---------------------------------- -----------------------------------------------------------------------
Custom CSS
-----------------------------------*/

.flag img {
  height: 30px;
}

.card-body h2 {
  color: #000;
}

.card-body h3 {
  color: #fff;
}

#contacttop {
  padding: 100px 10px 0 0;
}

#service {
  background-color: #f8f9fa;
}

#service h4 {
  font-size: 25px;
}

#service p {
  font-size: 17px;
}

#work {
  padding-top: 100px;
}

#about {
  background-color: #f8f9fa;
}

#link {
  color: #fff;
}

#link:hover {
  text-decoration: none;
  color: #fff;
}

#link1:hover {
  text-decoration: none;
  color: #eb252eff;
}

.fix {
  position: relative;
  width: 100%;
  padding-right: 2px !important;
  padding-left: 10px !important;
}

.fix1 {
  position: relative;
  width: 100%;
  padding-right: 2px !important;
  padding-left: 10px !important;
}


/*---------------------------------- -----------------------------------------------------------------------
4K LAYOUT: 2560px
-----------------------------------*/




@media (min-width: 768px) and (max-width: 2560px) {




  .card-body {
    width: 100%;
    height: auto;
  }


  .bg-dark,
  .btn-primary:hover {
    background: #eb252eff !important;
    border-color: #eb252eff !important;
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  }

}




@media (min-width: 1652px) and (max-width: 2000px) {}

/*---------------------------------- -----------------------------------------------------------------------
    Default LAYOUT: 1440px
-----------------------------------*/

@media (min-width: 1440px) and (max-width: 2560px) {


  .contact-info-block1 {


    padding: 55.5px 20px;
    border-radius: 5px;
  }

  .contact-info-block1 h4 {
    margin-bottom: 0px;
  }

  .contact-info-block1 i {
    font-size: 40px;
    margin-bottom: 20px;
    display: block;
    color: #eb252eff;
  }

}

/*---------------------------------- -----------------------------------------------------------------------
    Default LAYOUT: 1440px
-----------------------------------*/

@media (max-width: 1440px) {


  #banner h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2px;

  }


  .flag2 {
    display: hidden;

  }


  .contact-info-block1 {


    padding: 55.5px 20px;
    border-radius: 5px;
  }

  .contact-info-block1 h4 {
    margin-bottom: 0px;
  }

  .contact-info-block1 i {
    font-size: 40px;
    margin-bottom: 20px;
    display: block;
    color: #eb252eff;
  }

  #footer img {
    vertical-align: middle;
    border-style: none;
    height: 100px;
    margin-bottom: 30px;
  }

}

/*---------------------------------- -----------------------------------------------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/
@media (max-width: 1024px) {


  .contact-info-block1 {


    padding: 55.5px 20px;
    border-radius: 5px;
  }

  .contact-info-block1 h4 {
    margin-bottom: 0px;
  }

  .contact-info-block1 i {
    font-size: 40px;
    margin-bottom: 20px;
    display: block;
    color: #eb252eff;
  }



}

/*---------------------------------- ----------------------------------------------------------------------
    TABLET LAYOUT: 992px
------------------------------------*/



@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #banner h4 {
    font-size: 25px;

  }

  .contact-info-block1 {
    padding: 55.5px 20px;
    border-radius: 5px;
  }

  #footer img {
    vertical-align: middle;
    border-style: none;
    height: 90px;
    margin-bottom: 30px;
  }

}


@media (max-width: 991px) {

  #banner #intro {
    margin-top: 10px;

  }

  #banner h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
  }

  .banner-content {
    padding: 20px;
    padding-right: 30px;
    margin-top: 1px;
  }


  .pt-6 {
    padding-top: 4.5rem;
  }

  .contact-info-block1 {
    padding: 55.5px 20px;
    border-radius: 5px;
  }

  .contact-info-block1 h4 {
    margin-bottom: 0px;
  }

  .contact-info-block1 i {
    font-size: 40px;
    margin-bottom: 20px;
    display: block;
    color: #eb252eff;
  }

  #footer img {
    vertical-align: middle;
    border-style: none;
    height: 90px;
    margin-bottom: 30px;
  }

}



@media only screen and (min-width: 768px) and (max-width: 991px) {

  .navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }

  #contacttop {
    padding: 40px 0 0 0;
  }

  .logo-bar {
    padding: 40px 0px 100px 0px;
  }

  #student .block h4 {
font-family: 'Alfa Slab One', sans-serif !important;
font-weight: 300;
font-size: 30px;
line-height: 60px;
letter-spacing: 10px;
color: #fff;
}

  .main-navigation {
    margin-top: -60px;
  }

  .menu-2 img {
    vertical-align: middle;
    border-style: none;
    height: 120px;
  }

  .contact-info-block1 {
    padding: 55.5px 20px;
    border-radius: 5px;
  }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {

  .contact-info-block1 {
    padding: 55.5px 20px;
    border-radius: 5px;
  }

  .banner-content {
    margin-right: -60px;
  }

  .banner-contact-form {
    margin-right: -55px;
  }
}


@media only screen and (min-width: 240px) and (max-width: 576px) {

  .contact-info-block1 {
    padding: 41px 20px;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  .banner-content {
    margin-right: ;
  }

  .banner-contact-form {
    margin-right: ;
  }

  .btn {
    font-size: .6875rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    padding: 0.5rem 1.7rem;
  }
}


    @media only screen and (min-width: 425px) and (max-width: 640px) {


            .banner-content {
              padding: 20px;
              padding-right: 30px;
              margin-top: 250px;
            }

      }


              @media only screen and (min-width: 640px) and (max-width: 768px) {


                      .banner-content {
                        padding: 20px;
                        padding-right: 30px;
                        margin-top: 0px;
                      }



                }


/* Phones ----------------------------------------------------------------------- */

@media only screen and (min-width: 425px) and (max-width: 768px) {


  .navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }

  #contacttop {
    padding-top: 50px;
    padding-right: 70px;
  }

  .menu-2 img {
    vertical-align: middle;
    border-style: none;
    height: 120px;
  }

  #banner #intro {
    margin-top: 1px;

  }

  #banner h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
  }

  #banner h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2px;
  }



  #student .block h4 {
    font-family: 'Alfa Slab One', sans-serif !important;
    font-weight: 300;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 10px;
    color: #fff;
  }

  .contact-info-block3 {
    padding: 20px 20px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(235, 36, 45, 0.6);
  }

  .display-4 {
    font-size: 3.5rem;
  }

  .contact-info-block1 h4 {
    margin-bottom: 0px;
  }

  .contact-info-block1 i {
    font-size: 40px;
    margin-bottom: 20px;
    display: block;
    color: #eb252eff;
  }

  .card1 {
  margin-top: 50px;
  }

  #footer img {
    vertical-align: middle;
    border-style: none;
    height: 90px;
    margin-bottom: 30px;
  }

}

@media only screen and (min-width: 320px) and (max-width: 425px) {


  .menu-2 img {
    vertical-align: middle;
    border-style: none;
    height: 120px;
  }

  .navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }

  .contact-info-block2 {

    padding: 0 0 0;
    margin: 0 0 0;
  }


  .contact-info-block4 {
    padding: 20px 20px;
    border-radius: 10px;
    margin: 40px;
    background-color: rgba(235, 36, 45, 0.6);
    color: #fff;
    text-align: center;
  }



  #student .block h4 {
    font-family: 'Alfa Slab One', sans-serif !important;
    font-weight: 300;
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 10px;
    color: #fff;
  }

  #student .block h3 {
    font-family: "Muli", sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
  }

  #student .block h2 {
    font-family: "Muli", sans-serif !important;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: left;
    color: #000;
  }

  .contact-info-block3 {
    padding: 10px 20px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(235, 36, 45, 0.6);
  }



  .banner-content {
    padding: 2px;
    padding-right: 1px;
  }

  .banner-content .display-4 {
    font-size: 35px;
  }

  #footer img {
    vertical-align: middle;
    border-style: none;
    height: 90px;
    margin-bottom: 30px;
  }

}

/* Phones ----------------------------------------------------------------------- */

/* Phones ----------------------------------------------------------------------- */


@media (max-width: 425px) {



  .banner-content {

    margin-top: 250px;
  }



  .card1 {
  margin-top: 50px;
  }
}

#service p {
  font-size: 17px;
  padding-right: 50px;
}



}



@media (max-width: 375px) {
  .banner-content {
    margin-top: 200px;
  }

}



@media only screen and (min-width: 240px) and (max-width: 320px) {


  .navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }

  .menu-2 img {
    vertical-align: middle;
    border-style: none;
    height: 80px;
  }

  .contact-info-block2 {
    padding: 0 0 0;
    margin: 0 0 0;
  }


  #banner h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    padding-bottom: 45px;
    text-align: center;

  }


  .banner-content {
    padding: 2px;
    padding-right: 1px;
    margin-top: 190px;
  }

  .banner-content .display-4 {
    font-size: 40px;
  }



}

/* modal */

.modal-dialog .modal-content {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  border: none;
}

.modal-dialog .modal-header {
  border-bottom: none;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 24px;
}

.modal-dialog .modal-header .modal-title {
  font-size: 17px;
  font-weight: 300;
  color: #3C4858;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 1.5;
}

.modal-dialog .modal-body {
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  color: #3C4858;
}

.modal .modal-header .close i {
  font-size: 16px;
  color: #999;
}

.modal-dialog .modal-footer {
  border-top: none;
  padding: 24px !important;
}

.modal-dialog .modal-body+.modal-footer {
  padding-top: 0 !important;
}

.modal-dialog .modal-footer button {
  margin: 0 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  width: auto;
}


    .hover:hover {

 color: #ffffff;
 box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.71);
    }

/* Speed up Bootstrap collapse animation for student card */
.collapsing {
  transition: height 0.1s ease !important;
}

.collapse {
  transition: height 0.1s ease !important;
}

/* Optimized contact section styling */
#contacttop .row {
  align-items: flex-start;
}

.top-info-block {
  align-items: flex-start;
}

.top-info-block .icon-block {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 0;
}

.top-info-block .icon-block i {
  font-size: 40px;
  line-height: 1;
  display: block;
}

.top-info-block .info-block {
  padding-top: 10px;
}

.top-info-block .info-block h5 {
  line-height: 1.4;
  margin-bottom: 0.25rem;
  margin-top: 0;
  white-space: normal;
}

.top-info-block .info-block-hours h5 {
  white-space: nowrap;
}

.top-info-block .info-block p {
  margin-bottom: 0;
  font-size: 14px;
  color: #6c757d;
}

/* Hours label styling */
.hours-label {
  color: #eb252eff;
  font-weight: 700;
}

/* Prevent opening hours from breaking across lines */
.contact-info-block2 p {
  white-space: nowrap;
}

/* Instagram Feed Styling */
#instagram-feed {
  gap: 15px;
}

#instagram-feed .instagram-post {
  flex: 0 0 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#instagram-feed .instagram-post:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

#instagram-feed .instagram-post iframe {
  width: 100%;
  height: 400px;
  border: none;
  display: block;
}

@media (max-width: 768px) {
  #instagram-feed .instagram-post {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  #instagram-feed .instagram-post iframe {
    height: 350px;
  }
}

@media (max-width: 480px) {
  #instagram-feed .instagram-post {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #instagram-feed .instagram-post iframe {
    height: 400px;
  }
}
